---
---

@import 'midnight';


body {
    margin: 30px;
    background: #272726;
    text-align: center;
    font: 110% georgia, sans-serif;
    color: white;
}

h1 {
    color: #e6e6e6;
    font: georgia, sans-serif;
}
h3 {
    color: #d0cfcf;
    font: georgia, sans-serif;
}

/* unvisited link */
a:link {
    color: #bcecf8;
  }
/* mouse over link */
a:hover {
    color: rgb(96, 190, 233);
  }
  a:visited {
    color: #bcecf8;
  }
  a {
    color: #bcecf8;
  }
